.maintitle{
font-size:80px;
text-align:center;
}

.title{
text-align:center;
font-size:50px;
color:black;
font:arial;
}

.text{
font-size:20px;
color:black;
text-align:center;
}

.top{
position:absolute;
top:20px;
left:50%;
margin-left:-350px;
width:700px;
height:200px;
}

.middle{
position: absolute;
top:250px;
left:50%;
margin-left:-200px;
width:400px;
}

.nav{
position:absolute;
top:0px;
left:0px;
width:100%;
height:50px;
background-color:black;
}
#blog{
color:white;
position: absolute;
top:10px;
left:40px;
}
#home{
color:white;
position: absolute;
top:10px;
left:50%;
width:40px;
text-align:center;
margin-left:20px;
}
#mystuff{
color:white;
position: absolute;
top: 10px;
right:40px;
}
